.sort-modal {
    height: 100%;
  }
  .close-modal {
    display: flex;
    justify-content: flex-end;
  }
  .close-modal div {
    border: 1px solid #000000;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    margin-top: 20px;
    cursor: pointer;
  }
  .sort-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 180px;
  }
  .sort-form section {
    text-align: left;
    width: 308px;
  }
  .sort-form section p{
    margin-bottom: 5px;
  }