.categories-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 5px;
}
.category {
  border: 1px solid #000000;
  border-radius: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1a1a1a;
  min-width: 95px;
  cursor: pointer;
}
.category:hover {
  background-color: #ea2129;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.selected {
  background-color: #ea2129;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media only screen and (min-width: 400px) {
  .categories-container {
    gap: 15px;
  }
  .category {
    padding: 5px
  }
}
