.step-container {
  margin-top: 44px;
  width: 328px;
}
.author-inputs-container {
  display: flex;
  justify-content: space-between;
}
.first-step-form {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 50px;
}
.third-step-form {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 50px;
}
.button-container {
  width: 328px;
  display: flex;
  justify-content: space-between;
}
.blue-button {
  background: #1b223e;
  color: #ffffff;
  border: 0px;
}
.border-button {
  background-color: transparent;
  border: 1px solid #000000;
  color: #1a1a1a;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 22px;
  height: 100%;
}
.modal-content div {
  margin-bottom: 44px;
}
.modal-content h1 {
  text-align: right;
  margin-bottom: -10px;
}
@media only screen and (min-width: 900px) {
  .step-container {
    width: 820px;
  }
}
